$triangle-border-color: #00d1b2;


/* 等腰 */
.isosceles-triangle-border-up{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 30px 15px;
  /*border-width: 0 15px 26.0px 15px; 等边*/
  border-color: transparent transparent $triangle-border-color transparent;
}
.isosceles-triangle-border-left-up{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: $triangle-border-color transparent transparent transparent;
}
.isosceles-triangle-border-left{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 30px 15px 0;
  border-color: transparent $triangle-border-color transparent transparent;
}
.isosceles-triangle-border-left-down{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 30px;
  border-color: transparent transparent transparent $triangle-border-color;
}
.isosceles-triangle-border-down{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 15px 0 15px;
  border-color: $triangle-border-color transparent transparent transparent;
}
.isosceles-triangle-border-right-up{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent $triangle-border-color transparent transparent;
}
.isosceles-triangle-border-right{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent $triangle-border-color;
}
.isosceles-triangle-border-right-down{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent $triangle-border-color transparent;
}

/* 等边*/
.equilateral-triangle-border-up{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 26.0px 15px;
  border-color: transparent transparent $triangle-border-color transparent;
}
.equilateral-triangle-border-left{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 26.0px 15px 0;
  border-color: transparent $triangle-border-color transparent transparent;
}
.equilateral-triangle-border-down{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26.0px 15px 0 15px;
  border-color: $triangle-border-color transparent transparent transparent;
}
.equilateral-triangle-border-right{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent $triangle-border-color;
}
