body{
  height: auto;
  font-family: 'Open Sans', sans-serif;
}

/*a {
  color: #00d1b2;
}*/

.is-noscroll {
  //position:fixed;
  overflow:hidden;
  width:100%;
  //top:0
}

.is-clipped {
  overflow:hidden!important
}


.login-bg {
  background-color: #F6FAFB;
  height: 100vh;
}

list-unstyled {
  padding-left: 0;
  list-style: none
}

.list-inline {
  padding-left: 0;
  list-style: none
}

.list-inline-item {
  display: inline-block
}

.list-inline-item:not(:last-child) {
  margin-right: .5rem
}
