/*公共样式--开始*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100%;
}

body {
  font-size:14px;
  color:#333;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #232323;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

input, textarea {
  outline: none;
  border: none;
}
input,select{
  border-radius: unset!important;
  box-shadow: none!important;
}
input:focus,select:focus{
  border: 1px solid #ff6600!important;
}
/*标签样式*/
#header{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fce7e7;
  padding-left: 15px;
  font-weight: 600;
}
.wrap-box{
  height: 91%;
  position: absolute;
  background: #f2f2f2;
  padding: 20px;
  font-size: 14px!important;
}
.wrap-box .message-box{
  width: 100%;
  height: auto;
  background: white;
  padding: 10px 20px 20px 20px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.wrap-box .message-box .top-portion,.wrap-box .message-box .bottom-portion{
  display: flex;
}
.wrap-box .message-box .Input-box{
  padding: 10px 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  max-width: 416px;
  flex: 1;
}
/*.wrap-box .message-box .top-portion .Input-box{*/
  /*flex: 1;*/
/*}*/
.wrap-box .message-box .Input-box .Input-title{
  padding: 0 20px;
}
.wrap-box .message-box .Input-box .first-title{
  padding-left: 0;
}
.wrap-box .message-box .Input-box .input-custom{
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 275px;
  width: 100%;
}
.wrap-box .message-box .Input-box .input-custom input{
  height: 30px;
}
.wrap-box .message-box .Input-box .control{
  display: inline-block!important;
}
.wrap-box .message-box .Input-box .control.has-icons-left .icon.is-left{
  right: 0!important;
  left: auto;
}
.wrap-box .message-box .Input-box .select{
  height: 30px;
  font-size: 12px;
}
.wrap-box .message-box .Input-box #long-select{
  width: 290px;
}
/*时间框*/
.wrap-box .message-box .Input-box .time-custom input{
  width: 136px;
  height: 30px;
  font-size: 12px;
  padding-left: 6px;
}

/*下拉菜单框*/
.wrap-box .message-box .Input-box .control .select select{
  width: 85px;
}

  /*修改框架内表格样式*/
.Table-custom{
  position: relative;
}
.Table-custom .b-table .table th .th-wrap.is-centered{
  padding: 0.4rem 0;
}
.Table-custom .table.is-narrow td, .table.is-narrow th{
  padding: 0.6rem 0;
}
.Table-custom .table-compile,.Table-custom .table-manage,.Table-custom .table-delete{
  color: #1195e8;
  margin: 0 0.625rem ;
  font-weight: 600;
}
.Table-custom .table-delete{
  color: #ee5824;
}
.Table-custom .b-table .level{
  padding: 14px;
  border-top: 1px solid #f2f2f2;
}
.Table-custom .table td, .table th,.Table-custom .b-table .table th{
  border: none;
}
/*table表格背景颜色*/
.Table-custom .table.is-striped tbody tr:not(.is-selected):nth-child(odd){
  background-color: #f5f7f9;
}
.Table-custom .table.is-striped tbody tr:not(.is-selected):nth-child(even){
  background: white;
}
/*分页器样式*/
.Table-custom .pagination-list .pagination-link,.Table-custom .pagination .pagination-previous,.Table-custom .pagination .pagination-next{
  height: 26px;
  font-size: 12px;
  border-radius: unset;
}
.Table-custom .pagination-list .pagination-link{
  background-color: #ff6600;
  border: none;
}


/*底部盒子部分*/
.bottom-btn{
  text-align: right;
  padding-right: 22px;
}
.bottom-btn .search-btn{
  width: 110px;
  height: 30px;
  background-color: #ee5824;
  font-size: 14px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 3px;
}
.bottom-btn .empty-btn{
  width: 110px;
  height: 30px;
  background-color: white;
  font-size: 14px;
  color: #ff6600;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px #ff6600;
}
/*新增按钮样式*/
.base-box .add-btn,.base-box .second{
  width: 110px;
  height: 30px;
  background-color: #ee5824;
  font-size: 14px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 20px;
  border-radius: 3px;
}
.base-box .second{
  left: 140px;
}

.add{
  padding-bottom: 10px;
}
.add-franchiser{
  font-size: 0.8rem;
}
#table thead tr td,#table tbody tr td{
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}
#table thead{
  background: #BCDEFA;
  font-weight: 600;
}
#table tbody tr:nth-child(odd){
  background: aliceblue;
}
#table tbody tr:nth-child(even){
  background: white;
}
#table tbody tr td .compile-btn,#table tbody tr td .delete-btn{
  font-size: 14px;
  width: 47%;
  margin: 5px 0;
}
#table tbody tr td .manage-btn{
  font-size: 14px;
  width: 100%;
  margin: 5px 0;
}
.paging{
  margin: 50px 0;
}


/*新增页面样式*/
.add-Wrap{
  /*width: 440px;*/
  margin: 0 auto;
  font-size: 14px;
}
/*左边的标题栏*/
.add-Wrap .label{
  font-size: 14px;
  width: 162px;
}
/*外部盒子*/
.add-Wrap .area-wrap{
  margin: 20px 0 14px 0;
  width: 625px;
}
/*左边部分盒子样式*/
.add-Wrap .area-wrap .left-title{
  width: 162px;
  height: 35px;
  line-height: 35px;
  float: left;
  margin-right: 24px;
  text-align: right;
  font-weight: 600;
}
.add-Wrap .area-wrap .right-input{
  width: 439px;
  display: inline-block;
}
.add-Wrap .area-wrap .drop-menu{
  display: flex;
  margin-bottom: 20px;
}
.add-Wrap .area-wrap .drop-menu .control{
  flex: 1;
}
.add-Wrap .area-wrap .drop-menu .control .select:not(.is-multiple),.add-Wrap .drop-menu .qu .select.is-empty select{
  width: 100%;
  height: 35px;
  font-size: 12px;
}
.add-Wrap .area-wrap .drop-menu .control .select.is-empty select:nth-child(1),.add-Wrap .area-wrap .drop-menu .control .select.is-empty select:nth-child(2),.add-Wrap .area-wrap .drop-menu .control .select select:not([multiple]){
  width: 95%;
  height: 35px;
  margin-bottom: 20px;
}
.add-Wrap .area-wrap .drop-menu .control.qu .select.is-empty select{
  width: 100%;
}
/*地图部分样式*/
.add-Wrap .map-wrap{
  width: 100%;
  margin-bottom: 20px;
}
.add-Wrap .map-wrap .left-title{
  width: 162px;
  height: 35px;
  line-height: 35px;
  float: left;
  margin-right: 24px;
  text-align: right;
  font-weight: 600;
}
.add-Wrap .map-wrap img{
  width: 88%;
  display: inline-block;
}
/*时间控件部分样式*/
.add-Wrap .time-box{
  width: 625px;
}
.add-Wrap .time-box .left-title{
  width: 162px;
  height: 35px;
  line-height: 35px;
  float: left;
  margin-right: 24px;
  text-align: right;
  font-weight: 600;
}
.add-Wrap .time-box .datepicker {
  width: 217px;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  display: inline-block;
}
.add-Wrap .time-box .first-drop .dropdown{
  width: 95% !important;
}
.add-Wrap .time-box .datepicker .control.has-icons-left .input{
  font-size: 12px;
  padding-left: 5px;
  height: 35px;
  line-height: 35px;
}
.add-Wrap .time-box .datepicker .control.has-icons-left .icon.is-left{
  left: unset;
  right: 0;
  font-size: 12px;
  top: 5px;
}
/*上传图片部分样式*/
.uploading-img{
  width: 625px;
  margin: 26px 0;
}
.uploading-img .left-title{
  width: 162px;
  margin-right: 24px;
  text-align: right;
  font-weight: 600;
  float: left;
}
.shi-ming{
  width: 439px;
  display: inline-block;
}
.shi-ming div{
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  color: #999999;
  border: 1px dashed #dddddd;
  /*background-image: url(../assets/157273014415164822.png);*/
  background-size: cover;
  position: relative;
}
.shen-fan{
  margin-left: 20px;
}
.shi-ming div img{
  width: 100%;
}
.shi-zi{
  width: 85%;
  display: flex;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.shi-zi div{
  flex: 1;
  text-align: center;
  font-size: 12px;
}
.file{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute!important;
  top: 0;
  left: 0;
  cursor: pointer;
}
.mint-button{
  width: 60%;
  display: block !important;
  margin: 4rem auto 0;
}
#img,#img1,#img2,#img3,#img4,#img5{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.renWarp{
  width: 5rem;
  padding: 15px;
  background-color: #125DB2;
  border-radius: 8px;
  display: block;
  margin: 2rem auto;
  text-align: center;
  color: white;
}

/*下部分提交按钮盒子部分*/
.add-Wrap .present-btn{
  margin-top: 231px;
  text-align: center;
}
.add-Wrap .present-btn .submit,.add-Wrap .present-btn .cancel{
  width: 215px;
  height: 35px;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
}
.add-Wrap .present-btn .submit{
  background-color: #ff6600;
  margin-right: 6px;
  color: white;
}
.add-Wrap .present-btn .cancel{
  border: solid 1px #ff6600;
  background: none;
  color: #ff6600;
}
