
.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  @each $name, $pair in $colors {
    //$color: nth($pair, 1)
    //$color-invert: nth($pair, 2)
     &.is-#{$name} {
      background-color: nth($pair, 1);
      color: nth($pair, 2);
    }
  }
}
