//vue-layer
$layer-btn-background-color: #00d1b2;
$layer-btn-hover-background-color: darken($layer-btn-background-color, 2.5%);

.notify-btn-primary{
  background: $layer-btn-background-color !important;
  border: 1px solid $layer-btn-background-color !important;
}

.notify-btn-primary:hover{
  background: $layer-btn-hover-background-color !important;
  border: 1px solid $layer-btn-hover-background-color !important;
}

/*.notify-btn-default {
  background: $grey !important;
  border: 1px solid $grey !important;
}

.notify-btn-default:hover {
  background: $grey-dark !important;
  border: 1px solid $grey-dark !important;
}*/
/************/
