.app-content {
  background-color: $grey-50;
  //color: #86939e;
}
.is-fullheight {
  min-height: calc(100vh - 3.25rem - .75rem );
  /*max-height: calc(100vh - ( 3.25rem - .75rem ) );*/
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding-left: 0.75rem;
  //padding-right: 0.75rem;
}
.is-fullheight .is-main-content {
  /*overflow-y: auto;
  overflow-x: auto;*/
}

.is-halfheight {
  min-height: calc(50vh - 1.5rem );
  max-height: calc(50vh - 1.5rem );
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.is-halfheight .column {
  overflow-y: auto;
}

.is-full-content {
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  /*margin-top: 0.5rem;*/
}
.is-full-content .column {
  overflow-y: auto;
}

.main-container{
  /*padding-top: 0.75rem;*/
  margin-top: 62px;
  padding-left: 0;
}

.is-main-content{
  /*padding-top: 0.75rem;*/
  //background-color: #e1e1e1;
  width: 100%;
  margin-left: 200px;
  border-width:0 0 0 .05rem;
  border-style:solid;
  border-color: $primary;
}

.is-main-content-folded {
  margin-left: 72px;
}

.page-content {
  padding-left: .75rem;
}

.level.page-content-top {
  margin-bottom: 0.5rem;
}

.login-bg {
  background-color: #F6FAFB;
  height: 100vh;
}
