.columns.is-fullheight {
  min-height: calc(100vh - 3.25rem );
  /*max-height: calc(100vh - ( 3.25rem - .75rem ) );*/
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.columns.is-fullheight .is-main-content {
  /*overflow-y: auto;
  overflow-x: auto;*/
}

.columns.is-halfheight {
  min-height: calc(50vh - 1.5rem );
  max-height: calc(50vh - 1.5rem );
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.columns.is-halfheight .column {
  overflow-y: auto;
}

.columns.is-full-content {
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-top: 0.5rem;
}
.columns.is-full-content .column {
  overflow-y: auto;
}

/*.is-main-content {
  padding-left: 0.75rem;
}*/
