$navbar-color: $primary;
$navbar-backgroud-color: #ffffff;

.navbar{
  background: $navbar-backgroud-color;
  //border-bottom-color: $primary;
  //border-width:0 0 .05rem 0;
  //border-style:solid;

  &-item{
    background-color: $navbar-backgroud-color;
    color: $navbar-color !important;
    &.is-active{
      background-color: #ffffff !important;
      color: $navbar-color !important;
      border-bottom-color: $navbar-color;
      border-bottom-style: solid;
      border-bottom-width: 3px;
      color: $navbar-color;
      padding-bottom: calc(.5rem - 3px);
    }
    &:hover {
      background-color: $navbar-backgroud-color !important;
      color: $navbar-color !important;
      border-bottom-color: $navbar-color;
      border-bottom-style: solid;
      border-bottom-width: 0.666667px;
    }
  }

  .is--brand{
    &:hover {
      background-color: $navbar-backgroud-color !important;
    }
  }

  &-brand {
    width: 200px;
  }

  &-brand-logo{
    max-height: 3rem !important;
    background-color: #fff;
    border-radius: .25em;
    padding: .25em;
  }

  &-dropdown{
    .navbar-item{
      background-color: #fff;
      color: #676c7b !important;
      &:hover {
        color: $navbar-color !important;
        background-color: $navbar-backgroud-color !important;
        border-bottom-color: $navbar-backgroud-color;
      }
    }
  }

  &-burger{
    background-color: $navbar-backgroud-color !important;
    border: 0;
    span{
      background-color: $navbar-color;
    }
  }

  &-link{
    color: #676c7b !important;
    figure{
      img{
        border-radius: 50%;
        max-height: 2em;
      }
    }
    &:not(.is-arrowless)::after {
      border-color: #676c7b
    }
  }

  .nav-tag {
    padding-right: 30px
  }
}
