.navbar{
  background: #ffffff;

  &-item{
    background-color: #ffffff;
    color: #676c7b !important;
    &.is-active{
      background-color: #ffffff !important;
      color: #363636 !important;
      border-bottom-color: #716aca;
      border-bottom-style: solid;
      border-bottom-width: 3px;
      color: #716aca;
      padding-bottom: calc(.5rem - 3px);
    }
    &:hover {
      background-color: #ffffff !important;
      color: #716aca !important;
      border-bottom-color: #716aca;
      border-bottom-style: solid;
      border-bottom-width: 0.666667px;
    }
  }

  .is--brand{
    &:hover {
      background-color: #ffffff !important;
    }
  }

  &-brand-logo{
    max-height: 3rem !important;
    background-color: #fff;
    border-radius: .25em;
    padding: .25em;
  }

  &-dropdown{
    .navbar-item{
      background-color: #fff;
      color: #676c7b !important;
      &:hover {
        color: #716aca !important;
        background-color: #ffffff !important;
        border-bottom-color: #ffffff;
      }
    }
  }

  &-burger{
    background-color: #ffffff !important;
    border: 0;
    span{
      background-color: #716aca;
    }
  }

  &-link{
    color: #676c7b !important;
    figure{
      img{
        border-radius: 50%;
        max-height: 2em;
      }
    }
    &:not(.is-arrowless)::after {
      border-color: #676c7b
    }
  }

  .nav-tag {
    padding-right: 30px
  }
}
