/**navbar的备份*/

.navbar.is-white{
  background: #071e3d;
  color: #fff;
}

.navbar.is-white .navbar-brand > .navbar-item, .navbar.is-white .navbar-brand .navbar-link{
  color: #fff;
}

.navbar.is-white .navbar-start > .navbar-item, .navbar.is-white .navbar-start .navbar-link, .navbar.is-white .navbar-end > .navbar-item, .navbar.is-white .navbar-end .navbar-link{
  color: #fff;
}

.navbar.is-white .navbar-start > a.navbar-item:hover, .navbar.is-white .navbar-start > a.navbar-item.is-active, .navbar.is-white .navbar-start .navbar-link:hover, .navbar.is-white .navbar-start .navbar-link.is-active, .navbar.is-white .navbar-end > a.navbar-item:hover, .navbar.is-white .navbar-end > a.navbar-item.is-active, .navbar.is-white .navbar-end .navbar-link:hover, .navbar.is-white .navbar-end .navbar-link.is-active{
  background-color: #235b94;
  color: #fff;
}

.navbar.is-white .navbar-brand > a.navbar-item:hover, .navbar.is-white .navbar-brand > a.navbar-item.is-active, .navbar.is-white .navbar-brand .navbar-link:hover, .navbar.is-white .navbar-brand .navbar-link.is-active{
  background-color: #235b94;
  color: #fff;
}

.navbar-dropdown a.navbar-item{
  color: #333;
  font-weight: normal;
}

.navbar-dropdown a.navbar-item:hover{
  background-color: #235b94;
  color: #fff;
}

.navbar.is-white .navbar-start .navbar-link::after,
.navbar.is-white .navbar-end .navbar-link::after {
  border-color: #fff;
}

.navbar-dropdown.is-boxed a{
  color:235b94;
}

.navbar-brand .navbar-link a{
  color: #fff;
}
