.navbar {
  margin: 0;
  border-top: 4px solid #00d1b2;
  -webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.1);
  box-shadow: 0 1px 15px 1px rgba(69,65,78,.1);
  .navbar-brand {
    background: #2E363F;
    .navbar-item:first-child {
      padding: 0 40px;
      text-transform: uppercase;
      color: #C7C8D2;
      font-weight: bold;
      font-size: 1.2rem;
      height: 100%;
    }
  }
  .navbar-burger {
    cursor: pointer;
    height: 4.25rem;
    position: relative;
    width: 4.25rem;
    margin-left: auto;
  }
}

.navbar-brand, .navbar-tabs {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-height: 4.25rem;
}

.main-container {
  background: #F2F3F8;
  padding-top: 5rem;
  min-height: 100vh;
}
