// Import Bulma's core
@import "~bulma/sass/utilities/_all";

//https://bulma.io/documentation/overview/variables/
@import "./colors";

//如果将所有的颜色都打包，会导致CSS巨大，根据主题来选择不同的颜色打包
$baseColors: (
  "primary":($purple, $purple-invert)
);
$skinColors: map-merge($darkBlueColors, $baseColors);
$colors: map-merge($colors,$skinColors);
$body-background-color: #F8FAFC !default

////////////////////////////////////////////////
////////////////////////////////////////////////
// 根据颜色自动生成bg-$color的背景色
@each $name, $pair in $colors {
  //$color: nth($pair, 1)
  //$color-invert: nth($pair, 2)
  .bg-#{$name} {
    background-color: nth($pair, 1);
    color: nth($pair, 2);
  }
  .is-sidebar-menu {
    padding: 2rem;
    //border-top: 1px solid nth($pair, 2);
    box-sizing: border-box;
    &.is-#{$name} {
      background-color: nth($pair, 1);
      color: nth($pair, 2);
      & li a {
        font-size: 14px;
        //font-size: $size-7;
        color: nth($pair, 2);
      }
    }
  }
}

//@import "./skins/dark-blue";
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import './pageloader';
@import './bulma-steps';
@import "./_style";
//@import "./skins/dark-blue-extensions";
