// Import Bulma's core
@import "~bulma/sass/utilities/_all";

//https://bulma.io/documentation/overview/variables/
@import "./colors";

$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;

//如果将所有的颜色都打包，会导致CSS巨大，根据主题来选择不同的颜色打包
$baseColors: (
  //"primary":($active-color, findColorInvert($active-color)),
  "orange" : ($orange, $orange-invert),
);
$colors: map-merge($colors,$baseColors);

  ////////////////////////////////////////////////
// 根据颜色自动生成bg-$color的背景色
@each $name, $pair in $colors {
  //$color: nth($pair, 1)
  //$color-invert: nth($pair, 2)
  .bg-#{$name} {
    background-color: nth($pair, 1);
    color: nth($pair, 2);
  }
  .is-sidebar-menu {
    padding: 2rem;
    //border-top: 1px solid nth($pair, 2);
    box-sizing: border-box;
    &.is-#{$name} {
      background-color: nth($pair, 1);
      color: nth($pair, 2);
      & li a {
        font-size: 14px;
        //font-size: $size-7;
        color: nth($pair, 2);
      }
    }
  }
}

// Import Bulma and Buefy styles
@import "~bulma";
//@import "~buefy/src/scss/buefy";
@import './bulma-badge';
@import './pageloader';
@import './bulma-steps';
@import "./basic";
@import "./layout";
@import "./breadcrumb";
@import "./form";
@import "./table";
@import "./helper";
//@import "./navbar";
@import "./aside";
@import "./tree";
@import "./card";
@import "./transition";
@import "./notification";
@import "./arrow-paginate";
@import "./nav-sticky";
@import "./list-timeline";
