$widget-default-backgound-color: #fff;
$widget-default-border-color: $primary;
$widget-default-color: $primary;

.widget {
  position: relative;
  -webkit-transition: all 220ms ease-in-out;
  -moz-transition: all 220ms ease-in-out;
  -o-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
  background: $widget-default-backgound-color;
  color: $widget-default-color;
  line-height: 1;
  display: table;
  width: 100%;
  border-spacing: 0;
  border: .05rem solid $widget-default-border-color;
  margin: 1rem;
  .widget-lower {
    margin-bottom: 0px;
    padding: .25rem 1rem 1rem 1rem;
    span, strong {
      font-size: 10px;
      text-transform: uppercase;
      display: block;
      color: $widget-default-color;
    }
  }
  .widget-icon, .widget-label {
    display: table-cell;
    vertical-align: middle;
    padding: 18px;
  }
  .widget-icon {
    i {
      display: block;
      background: $widget-default-color;
      color: $widget-default-backgound-color;
      text-align: center;
      font-size: 32px;
      line-height: 40px;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
      -webkit-background-clip: padding-box;
      -moz-border-radius: 50%;
      -moz-background-clip: padding;
      border-radius: 50%;
      background-clip: padding-box;
    }
    &.is-medium {
      i {
        line-height: 50px;
      }
    }
    & + .widget-label {
      padding-left: .25rem;
    }
  }
  .widget-upper {
    .widget-icon {
      i {
        background: 0, 0;
        color: $widget-default-color;
      }
    }
  }
  .widget-label {
    .num {
      display: block;
      font-size: 28px;
      font-weight: normal;
      margin-bottom: .5rem;
    }
    span {
      display: block;
      font-style: normal;
      font-size: 10px;
      text-transform: uppercase;
      margin-top: 5px;
      color: $widget-default-color;
    }
    strong {
      color: $widget-default-color;
    }
  }
  .border {
    height: 1px;
    background: $widget-default-border-color;
    margin-bottom: 10px;
  }
  .widget-header {
    display: table;
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    .widget-label {
      padding-left: 15px;
      span {
        font-size: 12px;
      }
      strong {
        font-size: 15px;
      }
    }
    .widget-icon {
      i {
        background: 0, 0;
        color: $widget-default-color;
      }
    }
  }
  .widget-body {
    padding: 1rem;
    label {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      span {
        position: relative;
        display: inline-block;
        margin-left: .25rem;
      }
    }
    li {
      margin: .5rem .5rem .5rem .5rem;
      color: #7d7f7f;
      &.done {
        label {
          span {
            zoom: 1;
            -webkit-opacity: 0.5;
            -moz-opacity: 0.5;
            opacity: 0.5;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
            filter: alpha(opacity=50);
            &:after {
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              top: 9px;
              height: 1px;
              background: #8a8b8b;
              content: '';
            }
          }
        }
      }

    }
  }
  @each $name, $pair in $colors {
    &.is-#{$name} {
      background-color: nth($pair, 1);
      border-color: nth($pair, 1);
      color: nth($pair, 2);
      .widget-icon {
        i {
          background: nth($pair, 2);
          color: nth($pair, 1);
        }
      }
      span, strong {
        color: nth($pair, 2);
      }
      .border {
        background: nth($pair, 2);
      }
      .widget-upper {
        .widget-icon {
          i {
            background-color: nth($pair, 1);
            color: nth($pair, 2);;
          }
        }
      }
      .widget-lower {
        span, strong {
          color: nth($pair, 2);
        }
      }
      .widget-header {
        .widget-icon {
          i {
            background-color: nth($pair, 1);
            color: nth($pair, 2);;
          }
        }
      }
    }
  }
}
.widget.widget-status-update {
  background: #55acee;
  color: #fff;
  margin-bottom: 20px;
  padding: 30px;
  padding-bottom: 20px;
}
.widget.widget-status-update .widget-header {
  display: table;
  width: 100%;
}
.widget.widget-status-update .widget-header .widget-icon,
.widget.widget-status-update .widget-header .widget-nav {
  display: table-cell;
  vertical-align: top;
  color: #fff;
  padding-bottom: 20px;
}
.widget.widget-status-update .widget-header .widget-icon i {
  font-size: 48px;
}
.widget.widget-status-update .widget-header .widget-nav {
  text-align: right;
}
.widget.widget-status-update .widget-header .widget-nav a {
  position: relative;
  margin-right: -10px;
  margin-top: -10px;
  color: #fff;
  padding: 0 8px;
  display: inline-block;
  line-height: 32px;
}
.widget.widget-status-update .widget-header .widget-nav a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.widget.widget-status-update .widget-header .widget-nav a + a {
  margin-left: 10px;
}
.widget.widget-status-update .widget-body li {
  display: none !important;
}
.widget.widget-status-update .widget-body li .status-date {
  display: block;
  font-size: 16px;
  zoom: 1;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  padding-bottom: 10px;
}
.widget.widget-status-update .widget-body li p {
  font-size: 14px;
  color: #fff;
  zoom: 1;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
.widget.widget-status-update .widget-body li.active {
  display: block !important;
}
.widget.widget-status-update .widget-footer {
  text-transform: uppercase;
  font-size: 11px;
  padding-top: 15px;
}
.widget.widget-status-update .widget-footer a {
  color: #fff;
  zoom: 1;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
.widget.widget-status-update .widget-footer a:hover {
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
}
.widget.widget-status-update.widget-status-update-facebook {
  background-color: #3b5998;
}
.widget.widget-status-update.widget-status-update-google-plus {
  background-color: #dd4b39;
}
