/*根据主题颜色来修改*/
/*如果修改了一些组件的颜色，有些没提供动态修改方式的样式在这里修改*/

//背景色
.bg-main {
  background-color:$dark-blue-dark;
  color: $dark-blue-dark-invert;
}

.b-table .table{border-collapse:collapse;}
.b-table .table.is-bordered th.is-current-sort, .b-table .table.is-bordered th.is-sortable:hover {
  background-color:$dark-blue;
  border:1px solid $blue-dark;
  color: $dark-blue-invert;
}
.card-header{
  background: $dark-blue-lighter;
}
.card-header-title{
  font-size: 14px;
}
.card-header-icon{
  color: $dark-blue-invert;
}
/************/

//vue-layer
.notify .notify-alert h2.notice-title{
  background: $dark-blue !important;
  border-bottom: 1px solid $border-color !important;
}
.notify .notify-main{
  background: $dark-blue-light !important;
  border: 1px solid $dark-blue-light !important;
  color: $dark-blue-light-invert !important;
}

.notify-content{
  font-size: 14px;
}


.btn-primary{
  background: $blue-dark !important;
  border: 1px solid $blue-dark !important;
  border-radius: 3px !important;
}

.btn-primary:hover{
  background: $dark-blue !important;
  border: 1px solid $dark-blue !important;
}

.btn-default{
  background: $grey !important;
  border: 1px solid $grey !important;
  color: $grey-invert !important;
  border-radius: 3px !important;
}

.btn-default:hover{
  background: $grey-dark !important;
  border: 1px solid $grey-dark !important;
  color: $grey-dark-invert !important;
}
/************/
